json('../../constants/layoutBreakpoints.json')

.root
  transition opacity .2s ease-out

  &.isLoading
    opacity 0.3
    pointer-events none

.root h1
  position sticky
  top 0
  height 60px
  padding-top 0
  padding-bottom 0
  display flex
  align-items center
  justify-content space-between
  flex-wrap wrap
  background-color var(--decent-color-alpha-900)


.root table
  border-radius 14px
  border-spacing 2px
  overflow hidden

.root td
  background-color var(--accent-color-alpha-50)
  padding 2px 4px

  &:first-child
    text-align right
    width 60px

.root tfoot tr
  font-weight bold
  background-color var(--accent-color-alpha-100)

.controls
  display flex
  align-items center
  gap 10px
  font-size 0

.datePicker
  max-width 300px
  min-width 300px

.gap
  flex-grow 1


@media screen and (max-width: unit(MOBILE, 'px'))
  .root h1
    &::before
      content ''
      position absolute
      z-index -1
      top 0
      left calc(-1 * var(--indent-m))
      right calc(-1 * var(--indent-s))
      height calc(100% + var(--indent-s))
      background-color var(--decent-color-alpha-900)
      backdrop-filter blur(10px)
      box-shadow inset 0 20px 20px -10px var(--decent-color),
                      0 0 0 2px var(--decent-color-alpha-900)