.root h1
  padding-top 0

.root table
  border-radius 14px
  border-spacing 2px
  overflow hidden

.root td
  background-color var(--accent-color-alpha-50)
  padding 2px 4px

  &:first-child
    text-align right
    width 60px
