[Unit]
Description=Stats Server
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory={{VPS_DEPLOY_PATH}}
Environment=NODE_ENV=production
ExecStart=/bin/bash -c 'NODE_ENV=production {{VPS_DEPLOY_PATH}}/node_modules/.bin/babel-node {{VPS_DEPLOY_PATH}}/server/index.js'
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target

