.root
  position relative
  margin-bottom var(--indent-s)
  transition all .1s ease-out

.field
  & > div
  & label
    width 100%

.addButton
  width 100%
  margin-top var(--indent-s)

.open
  margin-top var(--indent-s)
  padding var(--indent-s)
  border-radius var(--indent-s)
  background-color var(--accent-color-alpha-50)
