.root
  position relative
  width 100%
  height 100px
  margin-left 4px

.title
  position absolute
  top -8px
  left 0
  width 100%
  font-size 80%
  text-align center

.tooltip
  background-color var(--accent-color-alpha-50)
  box-shadow inset 0 1px 1px 0 var(--accent-color-alpha-100)
  backdrop-filter blur(3px)
  padding 3px 8px
  border-radius 8px
  border none
  font-size 80%

  b
    font-size 120%

.tooltipLabel
  opacity 0.5

.fillDate
  font-size 60%
  width 100%
  opacity 0.5

.yAxis
  opacity 5