.root
  position relative
  width 100%
  height 100px
  margin-left 4px

.title
  position absolute
  top -8px
  left 0
  width 100%
  font-size 80%
  text-align center

.tooltip
  background-color var(--decent-color-alpha-900)
  padding 3px
  border-radius 3px
  border none
  font-size 80%

.tooltipLabel
  opacity 0.5

.fillDate
  font-size 60%
  width 100%
  opacity 0.5

.yAxis
  opacity 5